.content {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.formulario {
	display: grid;
	min-width: 600px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.formulario h2 {
	text-align: center;
}

.formulario p {
	margin-top: -10px;
	margin-bottom: 0px;
	justify-content: center;
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: flex;
	margin-bottom: 0;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #444444;
	font-size: 18px;
	padding: 0.2rem 0.1rem;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario .image {
	height: 20vh;
}

.selects {
	display: grid;
	margin: auto;
}

.selects select {
	border: 1px solid black;
	margin: 15px;
	border-radius: 5px;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #319795;
}
.formulario textarea:focus {
	outline: none;
	border: 2px solid #319795;
}
.formulario select:focus {
	outline: none;
	border: 2px solid #319795;
}
.formulario input[type="file"] {
	border: none;
	width: 100%;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #319795;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #38aeac;
}

.formulario button:disabled {
	background: #819796;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}