.generalDetails{
    height: 100vh;
    width: 100vw;
}   

.container{
    justify-content: center;
    align-items: center;
    margin: auto;
}


.detailCardContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    background-color: #ffff;
    margin-top: 10px;
    
}
