.item{
    width: 600px;
    height: 40rem;
    min-width: 30rem;
    padding: 2rem;
}
.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.slider{
    display: flex;
    cursor: grab;
}
.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
}